# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
print(gkey)

AIzaSyAwkLlXzOkDVecUhb0RnwI1U7ZEqHlsYe4

In [3]:

#Load the Csv into DataFrame
output_data_file = "cities.csv"
cities = pd.read_csv(output_data_file)
cities.head()


# Fetch the Cordinates from the data frame
coordinates = cities[["Lat","Lng"]].values

coordinates

array([[ 32.67, -17.1 ],
       [ 15.13, -23.22],
       [ 11.81, 125.45],
       ...,
       [-17.5 ,  24.27],
       [ -5.2 , -35.46],
       [-19.98,  23.42]])

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Configure Gmaps
gmaps.configure(api_key=gkey)


figure_layout = {
    'width': '1400px',
    'height': '1000px',
    'border': '1px solid black',
    'padding': '0.5px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,map_type="HYBRID")

locations = cities[["Lat", "Lng"]]

# Fill NaN values and convert to float
Humidity = cities["Humidity"].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=5,
                                 point_radius=1)
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='1000px', margin='0 auto 0 auto', padding='0.5px',…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
#   * A max temperature lower than 80 degrees but higher than 70.
#   * Wind speed less than 10 mph.
#   * Zero cloudiness.

cities.head()

Perfered_city = cities[(cities['Cloudiness'] ==0) & (cities['Wind Speed'] <= 10)
                         & (cities['Max Temp'] < 299.8) 
                         & (cities['Max Temp'] > 294.26) ]

Perfered_city

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
89,pisco,0,PE,04-11-20,30,-13.70,-76.22,297.04,3.10
96,guntur,0,IN,04-11-20,90,16.30,80.45,297.05,0.49
98,phulabani,0,IN,04-11-20,20,20.47,84.23,296.57,0.90
230,babai,0,IN,04-11-20,20,22.70,77.93,299.62,0.15
240,salto,0,UY,04-11-20,56,-31.38,-57.97,295.15,2.60
312,bethanien,0,NaN,04-11-20,17,-26.50,17.16,295.43,7.41
333,krishnanagar,0,IN,04-11-20,94,23.40,88.50,296.13,3.24
382,tambopata,0,PE,04-11-20,61,-12.73,-69.18,296.51,0.77
401,sargur,0,IN,04-11-20,66,11.98,76.42,294.50,0.37
402,tura,0,IN,04-11-20,46,25.52,90.22,294.97,2.17
515,mahmudabad,0,IN,04-11-20,60,27.30,81.12,297.15,1.00
539,burpengary,0,AU,04-11-20,40,-27.16,152.96,299.26,5.10

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
Hotel_df = pd.DataFrame(Perfered_city, columns= ['City','Cloudiness','Country','Humidity','Lat','Lng','Max Temp','Wind Speed'])
Hotel_df["Hotel Name"] = ""
Hotel_df

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
89,pisco,0,PE,30,-13.70,-76.22,297.04,3.10,
96,guntur,0,IN,90,16.30,80.45,297.05,0.49,
98,phulabani,0,IN,20,20.47,84.23,296.57,0.90,
230,babai,0,IN,20,22.70,77.93,299.62,0.15,
240,salto,0,UY,56,-31.38,-57.97,295.15,2.60,
312,bethanien,0,NaN,17,-26.50,17.16,295.43,7.41,
333,krishnanagar,0,IN,94,23.40,88.50,296.13,3.24,
382,tambopata,0,PE,61,-12.73,-69.18,296.51,0.77,
401,sargur,0,IN,66,11.98,76.42,294.50,0.37,
402,tura,0,IN,46,25.52,90.22,294.97,2.17,
515,mahmudabad,0,IN,60,27.30,81.12,297.15,1.00,
539,burpengary,0,AU,40,-27.16,152.96,299.26,5.10,

In [7]:
for index, row in Hotel_df.iterrows():
 
    Lat = row["Lat"]
    Lng = row["Lng"]
    
    params = {
    "query": "lodging",
    "location": f"{Lat},{Lng}",
    "key": gkey,
    "types": "lodging",
    "radius":5000    
  }   
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params).json()
    counter = 0
    for place in hotels["results"]:
        Hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        if counter == 1:
             break

Hotel_df = Hotel_df[Hotel_df['Hotel Name'] !='']
Hotel_df

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
89,pisco,0,PE,30,-13.70,-76.22,297.04,3.10,Hostal San Isidro Oficial
96,guntur,0,IN,90,16.30,80.45,297.05,0.49,OYO 49260 Sri Maha Veer Inn
98,phulabani,0,IN,20,20.47,84.23,296.57,0.90,Hotel Raj Kamal
230,babai,0,IN,20,22.70,77.93,299.62,0.15,G loading service babai
240,salto,0,UY,56,-31.38,-57.97,295.15,2.60,Gran Hotel Uruguay
312,bethanien,0,NaN,17,-26.50,17.16,295.43,7.41,Bethanie Guesthouse
333,krishnanagar,0,IN,94,23.40,88.50,296.13,3.24,SPOT ON 65884 New City Hotel & Lodge
401,sargur,0,IN,66,11.98,76.42,294.50,0.37,Jungle Trailz Kabini
402,tura,0,IN,46,25.52,90.22,294.97,2.17,Hotel RIKMAN Continental
515,mahmudabad,0,IN,60,27.30,81.12,297.15,1.00,"Haider Services, Baitul Anwar"
539,burpengary,0,AU,40,-27.16,152.96,299.26,5.10,Homestay Experience

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Hotel_df.iterrows()]
locations1 = Hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
markers1 = gmaps.marker_layer(locations1,info_box_content=hotel_info)
# Add layer
fig.add_layer(markers1)

fig

Figure(layout=FigureLayout(border='1px solid black', height='1000px', margin='0 auto 0 auto', padding='0.5px',…